In [1]:
from scipy.io import arff
import pandas as pd

# load data

In [22]:
data = arff.loadarff('4year.arff')
df = pd.DataFrame(data[0])
df['bankruptcy'] = (df['class']==b'1')
targetDf.mean(axis = 0)

X1            0.043019
X2            0.596404
X7            0.059446
X10           0.389040
bankruptcy    0.052594
class              inf
dtype: float64

# select column and fill nan

In [53]:
targetDf = df.iloc[:, [0, 1, 6, 9, -1, -2]]
targetDf.columns = ['X1', 'X2', 'X7', 'X10', 'bankruptcy', 'class']
targetDf = targetDf.fillna(value =targetDf.mean(axis = 0))
targetDf.head()

         X1       X2        X7      X10  bankruptcy class
0  0.159290  0.46240  0.189480  0.38330       False  b'0'
1 -0.127430  0.46243 -0.127430  0.53757       False  b'0'
2  0.070488  0.23570  0.086895  0.67689       False  b'0'
3  0.136760  0.40538  0.136760  0.58938       False  b'0'
4 -0.110080  0.69793 -0.110080  0.30207       False  b'0'

# get mean std each group

In [54]:
allDf = targetDf
bankruptDf = targetDf[targetDf.bankruptcy]
stillOperatingCompanies = targetDf[~targetDf.bankruptcy]
toDisplay = [allDf, bankruptDf, stillOperatingCompanies]
for aDf in toDisplay:
    print( aDf.describe().loc[['mean', 'std']])

                X1           X2           X7          X10
count  9277.000000  9277.000000  9277.000000  9277.000000
mean      0.049231     0.580752     0.066162     0.404899
std       0.343002     4.689694     0.530524     4.692934
min     -12.458000     0.000000   -12.458000  -445.910000
25%       0.003128     0.257220     0.004711     0.306400
50%       0.043545     0.457500     0.051804     0.519670
75%       0.113140     0.674850     0.129390     0.721390
max      20.482000   446.910000    38.618000    12.602000

# get bankrupt ratio of cretain condition

In [49]:
threashodSeries = targetDf.mean(axis = 0)-targetDf.std(axis = 0)
lowValueCompanyDf = targetDf.loc[(targetDf.X1<threashodSeries.X1) & (targetDf.X10<threashodSeries.X10)]
len(lowValueCompanyDf)

15

In [51]:
sum(lowValueCompanyDf.bankruptcy)/len(lowValueCompanyDf)

0.2